.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  color: #ffffff;
  position: absolute;
  width: 100%;
  max-width: 950px;
  margin: auto 0px;
  height: 100%;
  left: 10%;
}
.title-container {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  justify-content: space-between;
  width: 100%;
  min-height: 89px;
  border-bottom: 1px solid whitesmoke;
}

.menu-content {
  cursor: pointer;
  width: 481px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu {
  height: 25px;
}
.menu:hover {
  color: rgb(0, 238, 255);
  border-bottom: 3px solid rgb(0, 238, 255);
}

.flat-list {
  width: 100%;
  display: flex;
  margin: 24px 0;
  justify-content: space-between;
}

.body-list {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
