.cardextra-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  padding: 24px;

  width: 300px;
  min-height: 360px;
  right: 0px;

  /* Base / Dark Bg 2 */

  background: #1f1d2b;
  border-radius: 8px;

  /* Inside auto layout */

  margin: 20px 0px;
}
